@import "./partials/bootstrap-overrides";

body {
  .navbar {
    .img-fluid {
      height: 50px;
    }
  }
}

.container-fluid {
  max-width: 60%;
}

.navbar {
  .container {
    padding-inline: 0;
  }
}

.dropdown {
  padding-inline: 0;
}
